<ion-header>
  <ion-toolbar>
    <ion-title>iniciar-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="contenedor" padding>
  
  <ion-tab-button [routerLink]="['/home']"tab="speakers">
    <ion-icon src="assets/inicio.svg"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/buscar']"tab="speakers">
    <ion-icon src="assets/buscar.svg"></ion-icon>
    <ion-label>Buscar</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/cuenta']"tab="speakers">
    <ion-icon src="assets/cuenta.svg"></ion-icon>
    <ion-label>Cuenta</ion-label>
  </ion-tab-button>

</ion-content>
