ion-toolbar{
            
    .btn-bk{
        width: 15%;
        height: 5%;
    }
    .logo{
        margin-top: 3%;
        margin-left: 0%;
        width: 30%;
        height: 0%;
    }
}

ion-content.background{
    --background: url(../../assets/fondo-ins.jpg) 0 0/100% 100% no-repeat;
}



.titulo{

    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Pacifico;
}

.input[type="text"]{
    
    
    color: white;
    border-bottom: 3px solid white;
    padding: 12px 40px;
    text-align: center;
    font-family: Pacifico;
}
.input[type="password"]{
    
    color: white;
    border-bottom: 3px solid white;
    padding: 12px 40px;
    text-align: center;
    font-family: Pacifico;
}



.text-google{
    margin-top: 8px;
    text-decoration: black;
    background-color: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.938);
    border-bottom: 3px solid white;
    font-family: Pacifico;
    
}
ion-button{

    --background:  rgba(239, 240, 242, 0.56);
    margin-top: 30px;
    text-align: left;
    font-family: cursive;
    color: white;
    position: relative;
}

#cj2,#cj3{
    margin-top:20px ;
}

#cj1{
    margin-top:10px ;
}

