ion-toolbar{
            
    .btn-bk{
        width: 15%;
        height: 5%;
    }
    .logo{
        margin-top: 3%;
        margin-left: 0%;
        width: 30%;
        height: 0%;
    }
}

ion-content.background{
    --background: url(../../assets/fondo-ins.jpg) 0 0/100% 100% no-repeat;
}


.titulo{
    position: center;
    display: block;
     margin:auto;
     margin-top: 20px;
     margin-left: 50px;
    font-size: 40px;
    color: white;
    font-family: Pacifico;
}

.input[type="text"]{
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    width: 230px;
    color: white;
    border-bottom: 2px solid white;
    padding: 12px 40px;
    text-align: center;
    font-family: Pacifico;
}
.input[type="password"]{
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    width: 230px;
    color: white;
    border-bottom: 2px solid white;
    padding: 12px 40px;
    text-align: center;
    font-family: Pacifico;
}
.input[type="text"]{
    background: url(../../assets/user.svg) 5px no-repeat;
}
.input[type="password"]{
    background: url(../../assets/key.svg) 5px no-repeat;
}

.gg{
    margin-top: 10px;
    display: inline-block;
    left: 60px;
    text-decoration: black;
    background-color: none;
    color: white;
    position: relative;
}
.text-google{
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
    left: 60px;
    text-decoration: black;
    background-color: none;
    color: white;
    border-bottom: 0.5px solid white;
    position: relative;
}
ion-button{

    --background:  rgba(239, 240, 242, 0.56);
    margin-top: 50px;
    text-align: left;
    font-family: cursive;
    color: white;
    position: relative;
}

