<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <img [routerLink]="['/anadir-receta']" class="btn-bk" src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
   
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form>
    <ion-label class="titulo">Iniciar Sesión</ion-label>
    <ion-input type="text" class="input" placeholder="Usuario"></ion-input>
    <ion-input  type="password" class="input" placeholder="Contraseña"></ion-input>
    <img class="gg" src="assets/icon-google.svg"/>
    <ion-label class="text-google">Ingresar con Google</ion-label>
    <ion-button expand="block" shape="round" >
      Ingresar
      <ion-icon name="login"slot="start"></ion-icon> 
    </ion-button>
  </form>
</ion-content>
