<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">

<ion-content>

  <ion-slides pager="true">

    <ion-slide class="slide-one">

      <img class="logo" src="assets/logo_slide.svg">
      <img class="slide" src="assets/slide-1.svg" alt="">
      <h1 >¡BIENVENIDO!</h1>
      <p class="Parrafo">La mejor App para cocinar y encontrar las recetas más sabrosas.</p>
      <ion-button color="dark" [routerLink]="['/tab/sesion']">Skip</ion-button>

    </ion-slide>
      
      
    <ion-slide class="slide-two">
      <img class="logo" src="assets/logo_slide.svg">
      <img class="slide" src="assets/slide-2.svg" alt="">
      <h1 >FÁCIL Y RÁPIDO</h1>
      <p class="Parrafo">Encuentra videos, sugerencias y todo sobre los platillos que desees.</p>
      <ion-button color="dark" [routerLink]="['/tab/sesion']">Skip</ion-button>
    </ion-slide>

    <ion-slide class="slide-three">

      <img class="logo" src="assets/logo_slide.svg">
      <img class="slide" src="assets/slide-3.svg"  alt="">
      <h1 >REGISTRATE</h1>
      <p class="Parrafo">Inicia con Google, podrás subir tus propias recetas y guardarlas.</p>
      <ion-button color="dark" [routerLink]="['/tab/sesion']">Skip</ion-button>
      
    </ion-slide>
    
  </ion-slides>

  

</ion-content>

        
      
