<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <img src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <p class="titulo2">Recetas Guardadas</p>
  <ion-card class="card">
    <br>
    <ion-card-header>
      <ion-card-title class="titulo">Ceviche de Camaron Mexicano</ion-card-title>
      <br>
      <img class="sanduche" src="assets/cevivhe.jpg" />
      <br>
      <ion-card-subtitle class="subtitulo">-Tiempo aproximado: 45 min </ion-card-subtitle>
      <ion-card-subtitle class="subtitulo">-Ingredientes: </ion-card-subtitle>
      <p class="subtitulo2">*1 kilogramo de Camarones<br>
        *2 unidades de Cebollas<br>
        *450 gramos de Jitomate<br>
        *2 unidades de Pepinos<br>
        *5 unidades de Jalapeños (opcional)<br>
        *1 manojo de Cilantro<br>
        *1 rama de Apio<br>
        *1 taza de Salsa de tomate Ketchup<br>
        *4 cucharadas soperas de Salsa Valentina<br>
        *Tostadas<br>
        *2 unidades de Aguacates</p>
        <ion-card-subtitle class="subtitulo">-Preparacion: </ion-card-subtitle>
        <p class="subtitulo2">1. Limpiamos y cocemos los camarones. Mientras tanto, picamos finamente las cebollas, jitomates, pepinos, jalapeños, el cilantro y el apio. Otra opción un poco más elaborada pero deliciosa es marinar los camarones con jugo de limón. Muy fácil, una vez limpios (sin cabeza ni la vena oscura del lomo), los troceamos y dejamos marinar en una refractaria con el jugo de 10 limones y una pizca de sal. Tapamos el recipiente y dejamos marinar en el frigorífico durante 40-45 minutos.<br>
        <p class="subtitulo2">2. Colocamos los ingredientes picados en un recipiente de vidrio y los mezclamos bien. Incorporamos la salsa y los camarones ya cocidos y escurridos y seguimos mezclando.<br>
        <p class="subtitulo2">3. Una vez mezclados todos los ingredientes del ceviche de camarones mexicano, lo servimos en tostadas y decoramos con rodajas de aguacate.<br>
        <p class="subtitulo2">4. ¡Delicioso y fácil! Ideal para acompañarlo con arroz, tortillas mexicanas y una cerveza bien fría.<br>
        </ion-card-header>
  </ion-card>
  
</ion-content>