<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" >
      <ion-icon src="assets/inicio.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon src="assets/buscar.svg"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="sesion">
      <ion-icon src="assets/cuenta.svg"></ion-icon>
      <ion-label>Iniciar sesión</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


