<ion-header>
  <ion-toolbar>
    <img src="assets/atras.svg"> 
    <ion-icon src="assets/logo.svg"></ion-icon> 
    <ion-buttons slot="end">
      <ion-button expand="block" shape="round" >Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <form id="form">

    <ion-item>
      <ion-label position="stacked" >
        <ion-icon src="assets/agg_img_plato.svg"></ion-icon>
      </ion-label >
      
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título
      </ion-label>
      <ion-input placeholder="placeholder"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredientes 
      </ion-label>
      <ion-textarea placeholder="placeholder"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Proceso 
      </ion-label>
      <ion-textarea placeholder="placeholder"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Tiempo de ejecución: </ion-label>
      <ion-input placeholder="placeholder" type="text"></ion-input>
    </ion-item>
    
  </form>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button [routerLink]="['/home']" tab="speakers" >
        <ion-icon  src="assets/inicio.svg" ></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/buscar.svg"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/anadir.svg"></ion-icon>
        <ion-label >Añadir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/lista.svg"></ion-icon>
        <ion-label>Lista</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/cuenta.svg"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
