<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <img [routerLink]="['/anadir-receta']" class="btn-bk" src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
   
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form>
    <ion-label class="titulo">Ecunetra recetas</ion-label>
    <ion-input id="" type="text" class="input" placeholder="Buscar"></ion-input>
      <img id="img1" src="assets/receta1.svg" alt="">
      <img id="img2" class="recetas" src="assets/receta2.svg" alt="">
  </form>
</ion-content>
