
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <img [routerLink]="['/anadir-receta']" class="btn-bk" src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
   
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-label position="stacked" class="titulo">Ecuentra recetas </ion-label>
  <div class="contenedor">
    <ion-item class="items">
      <img src="assets/icon-yt.svg" alt="">
      <ion-input  position="stacked" id="buscar" type="text" class="input" placeholder="Buscar"></ion-input>
    </ion-item>
    <ion-item class="items">
      <img  position="stacked" class="img" src="assets/receta1.svg" alt="">
    </ion-item>

    <ion-item class="items">
      <img  position="stacked" class="img" class="recetas" src="assets/receta2.svg" alt="">
    </ion-item>
  </div>     
</ion-content>