ion-toolbar{
            
    .btn-bk{
        width: 15%;
        height: 5%;
    }
    .logo{
        margin-top: 3%;
        margin-left: 0%;
        width: 30%;
        height: 0%;
    }
}

ion-content.background{
    --background: url(../../assets/fondo-buscar.jpg) 0 0/100% 100% no-repeat;
}

    .contenedor{

        margin-top: 4%;
        padding-left: 30px;
        padding-right: 30px;

    }
        
        .items{
            background-color: rgba(255, 255, 255, 0.829); 
            border-radius: 20px;
            margin-bottom: 26px;
            border-color: black;
            box-shadow: 0 10px 30px 0px rgba(11, 15, 17, 0.219);
        }

        .img{
            background-color: rgba(255, 255, 255, 0.829); 
            border-radius: 20px;
            margin-bottom: 26px;
            border-color: black;
            box-shadow: 0 10px 10px 0px rgba(11, 15, 17, 0.219);
        }
        
        .titulo{
            display: inline-flexbox;
            color: rgb(255, 255, 255);
            font-family: 'Pacifico', 'cursive';
            font-size: 30px;
            margin-left: 20%;
        }

        .buscar{
            border-color: black;
            font-family: 'Pacifico', 'cursive';
        }
    