ion-toolbar{
            
    .btn-bk{
        width: 15%;
        height: 5%;
    }
    .logo{
        margin-top: 3%;
        margin-left: 0%;
        width: 30%;
        height: 0%;
    }
}

ion-content.background{
    --background: url(../../assets/fondo-buscar.jpg) 0 0/100% 100% no-repeat;
}

    .contenedor{

        margin-top: 4%;
        padding-left: 30px;
        padding-right: 30px;

    }
      
    .titulo{
            text-align: center;
            display: block;
            color: rgb(255, 255, 255);
            font-family: 'Pacifico', 'cursive';
            font-size: 40px;
            margin-left: 20%;
            margin-bottom: 30px;
            margin-top: -20px;
        }