<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <img src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background"  [fullscreen]="true" >

  <ion-item id="item-user"  class="circulo" lines="none">
    <ion-img id="foto-user"  (ionchange)='foto($event)' class="imagen" src="assets/usuario.svg"></ion-img>
  </ion-item>

  <div  id="contenedor-cajones" class="ion-padding">

    <ion-item (click)="abrirPopover()"  id="cj1"  class="cajones" lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        Cambiar nombre y apellidos
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item id="cj2" class="cajones" lines="none">
      <ion-icon  name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Información
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item id="cj3"class="cajones" lines="none">
      <ion-icon name="moon" slot="start"></ion-icon>
      <ion-label >
        Modo oscuro
      </ion-label>
      <ion-toggle (ionChange)='modoscuro($event)' checked="{{toggleActive}}" color="dark" slot="end"></ion-toggle>
    </ion-item>

    <ion-button id="btnSalir" [routerLink]="['/tab/sesion']" expand="block" shape="round" >
      Cerrar sesión
      <ion-icon name="log-out"slot="start"></ion-icon> 
    </ion-button>

  </div>


</ion-content>
