<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio" >
      <ion-icon src="assets/inicio.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon src="assets/buscar.svg"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anadir-receta">
      <ion-icon src="assets/anadir.svg" ></ion-icon>
      <ion-label >Añadir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista">
      <ion-icon src="assets/lista.svg"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon src="assets/cuenta.svg"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

