<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="imgs" src="assets/Integrantes.png"> 
      <ion-card-title>CookApp</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="titulo">Integrantes</ion-card-subtitle>
    <ion-card-content>
      <ul class="ingredientes">
        <li>Juan Camilo Giraldo Cespedes</li>
        <li>Juan Camilo Giraldo Cespedes</li>
        <li>Juan Camilo Giraldo Cespedes</li>
      </ul>
    </ion-card-content>
  </ion-card>
  

</ion-content>
