<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [fullscreen]="true" src="assets/fondo.svg"/>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/inicio.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/buscar.svg"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/anadir-receta']" tab="speakers">
        <ion-icon src="assets/anadir.svg" ></ion-icon>
        <ion-label >Añadir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/lista.svg"></ion-icon>
        <ion-label>Lista</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon src="assets/cuenta.svg"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
