ion-toolbar{
    .logo{
        margin-top: 3%;
        margin-left: 0%;
        width: 30%;
        height: 0%;
    }
}


ion-content.background{
    --background: url(../../assets/fondo-inicio.jpg) 0 0/100% 100% no-repeat;
}

ion-card{
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 35px;
    width: 80%;
    height: 40%;
}

.titulo{
    text-align: center;
    display: block;
    color: white;
    font-family: 'TimeNewRoman', cursive;
    font-size: 25px;
    text-decoration: underline;
}

ion-card-title{
 font-family: 'Pacifico';
}

ion-card-subtitle{
   color: black;
   font-family: cursivew;
}

.imgs{
 width: 350px;
 height: 230px;
 border-radius: 30px;
}

.ingredientes{
   text-size-adjust: 10px;
   color: black;
   font-family: 'cursive';
   font-size: 10px;
}
