<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <img src="assets/atras.svg"> 
    <img class="logo" src="assets/logo.svg">
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-card class="card">
    <br>
    <ion-card-header>
      <ion-card-title class="titulo">Funciones que puedes encontrar en CookApp</ion-card-title>
      <ion-card-subtitle class="subtitulo">-Comparte tus recetas </ion-card-subtitle>
      <br>
      <img class="sanduche" src="assets/imginicio.jpg" />
      <br>
      <ion-card-subtitle class="subtitulo">-Busca nuevas recetas</ion-card-subtitle>
      <br>
      <img class="postre" src="assets/postre.jpg" />
    </ion-card-header>
  </ion-card>
  
</ion-content>
