<ion-header>
  <ion-toolbar>
    <img src="assets/atras.svg"> 
    <ion-icon src="assets/logo.svg"></ion-icon> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [fullscreen]="true" src="assets/fondo.svg"/>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button [routerLink]="['/home']"tab="speakers">
        <ion-icon src="assets/inicio.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/buscar']"tab="speakers">
        <ion-icon src="assets/buscar.svg"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/cuenta']"tab="speakers">
        <ion-icon src="assets/cuenta.svg"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
